<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinmimoney.web.p2pnew.dao.InsuranceProductMapper" >
  <resultMap id="BaseResultMap" type="com.yinmimoney.web.p2pnew.pojo.InsuranceProduct" extends="associationMap">
	<id column="id" property="id" />
	<result column="product_code" property="productCode" />
	<result column="product_name" property="productName" />
	<result column="company_code" property="companyCode" />
	<result column="descript" property="descript" />
	<result column="price_type" property="priceType" />
	<result column="min_price" property="minPrice" />
	<result column="max_price" property="maxPrice" />
	<result column="max_insured_amount_descript" property="maxInsuredAmountDescript" />
	<result column="min_insured_age_type" property="minInsuredAgeType" />
	<result column="min_insured_age" property="minInsuredAge" />
	<result column="max_insured_age_type" property="maxInsuredAgeType" />
	<result column="max_insured_age" property="maxInsuredAge" />
	<result column="guarantee_time_descript" property="guaranteeTimeDescript" />
	<result column="sex_limit" property="sexLimit" />
	<result column="buy_limit" property="buyLimit" />
	<result column="health_inform" property="healthInform" />
	<result column="hesitate_days_type" property="hesitateDaysType" />
	<result column="hesitate_days" property="hesitateDays" />
	<result column="type_code" property="typeCode" />
	<result column="tag" property="tag" />
	<result column="guarantee_time" property="guaranteeTime" />
	<result column="age_select" property="ageSelect" />
	<result column="age" property="age" />
	<result column="sex_select" property="sexSelect" />
	<result column="si_select" property="siSelect" />
	<result column="cover_pic" property="coverPic" />
	<result column="detail_cover_pic" property="detailCoverPic" />
	<result column="detail_pic" property="detailPic" />
	<result column="insure_notice" property="insureNotice" />
	<result column="insurance_clause" property="insuranceClause" />
	<result column="status" property="status" />
	<result column="is_delete" property="isDelete" />
	<result column="add_time" property="addTime" />
	<result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List" >
		`id`
		,`product_code`
		,`product_name`
		,`company_code`
		,`descript`
		,`price_type`
		,`min_price`
		,`max_price`
		,`max_insured_amount_descript`
		,`min_insured_age_type`
		,`min_insured_age`
		,`max_insured_age_type`
		,`max_insured_age`
		,`guarantee_time_descript`
		,`sex_limit`
		,`buy_limit`
		,`health_inform`
		,`hesitate_days_type`
		,`hesitate_days`
		,`type_code`
		,`tag`
		,`guarantee_time`
		,`age_select`
		,`age`
		,`sex_select`
		,`si_select`
		,`cover_pic`
		,`detail_cover_pic`
		,`detail_pic`
		,`insure_notice`
		,`insurance_clause`
		,`status`
		,`is_delete`
		,`add_time`
		,`update_time`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM `insurance_product`
    WHERE `id` = #{id}
  </select>
  <select id="getByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM `insurance_product`
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY `id` DESC
    </if>
    <if test="orderBy != null and orderBy != 'no'" >
      ORDER BY ${orderBy}
    </if>
	LIMIT 1
  </select>
  <select id="aggregate" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT ${aggregate_sql} FROM `insurance_product`
    <include refid="map_params_where_condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM `insurance_product`
    WHERE `id` = #{id}
  </delete>
  <insert id="insert" parameterType="com.yinmimoney.web.p2pnew.pojo.InsuranceProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `insurance_product` (
	  `product_code`
	  ,`product_name`
	  ,`company_code`
	  ,`descript`
	  ,`price_type`
	  ,`min_price`
	  ,`max_price`
	  ,`max_insured_amount_descript`
	  ,`min_insured_age_type`
	  ,`min_insured_age`
	  ,`max_insured_age_type`
	  ,`max_insured_age`
	  ,`guarantee_time_descript`
	  ,`sex_limit`
	  ,`buy_limit`
	  ,`health_inform`
	  ,`hesitate_days_type`
	  ,`hesitate_days`
	  ,`type_code`
	  ,`tag`
	  ,`guarantee_time`
	  ,`age_select`
	  ,`age`
	  ,`sex_select`
	  ,`si_select`
	  ,`cover_pic`
	  ,`detail_cover_pic`
	  ,`detail_pic`
	  ,`insure_notice`
	  ,`insurance_clause`
	  ,`status`
	  ,`is_delete`
	  ,`add_time`
	  ,`update_time`
      )
    VALUES (
		  
		  #{productCode}
		  ,
		  #{productName}
		  ,
		  #{companyCode}
		  ,
		  #{descript}
		  ,
		  #{priceType}
		  ,
		  #{minPrice}
		  ,
		  #{maxPrice}
		  ,
		  #{maxInsuredAmountDescript}
		  ,
		  #{minInsuredAgeType}
		  ,
		  #{minInsuredAge}
		  ,
		  #{maxInsuredAgeType}
		  ,
		  #{maxInsuredAge}
		  ,
		  #{guaranteeTimeDescript}
		  ,
		  #{sexLimit}
		  ,
		  #{buyLimit}
		  ,
		  #{healthInform}
		  ,
		  #{hesitateDaysType}
		  ,
		  #{hesitateDays}
		  ,
		  #{typeCode}
		  ,
		  #{tag}
		  ,
		  #{guaranteeTime}
		  ,
		  #{ageSelect}
		  ,
		  #{age}
		  ,
		  #{sexSelect}
		  ,
		  #{siSelect}
		  ,
		  #{coverPic}
		  ,
		  #{detailCoverPic}
		  ,
		  #{detailPic}
		  ,
		  #{insureNotice}
		  ,
		  #{insuranceClause}
		  ,
		  #{status}
		  ,
		  #{isDelete}
		  ,
		  <if test="addTime != null" >
			#{addTime}
      </if>
      <if test="addTime == null" >
      NOW()
		  </if>
		  ,
		  <if test="updateTime != null" >
			#{updateTime}
      </if>
      <if test="updateTime == null" >
      NOW()
		  </if>
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yinmimoney.web.p2pnew.pojo.InsuranceProduct" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO `insurance_product`
    <trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="productCode != null" >
			`product_code`,
		  </if>
		  <if test="productName != null" >
			`product_name`,
		  </if>
		  <if test="companyCode != null" >
			`company_code`,
		  </if>
		  <if test="descript != null" >
			`descript`,
		  </if>
		  <if test="priceType != null" >
			`price_type`,
		  </if>
		  <if test="minPrice != null" >
			`min_price`,
		  </if>
		  <if test="maxPrice != null" >
			`max_price`,
		  </if>
		  <if test="maxInsuredAmountDescript != null" >
			`max_insured_amount_descript`,
		  </if>
		  <if test="minInsuredAgeType != null" >
			`min_insured_age_type`,
		  </if>
		  <if test="minInsuredAge != null" >
			`min_insured_age`,
		  </if>
		  <if test="maxInsuredAgeType != null" >
			`max_insured_age_type`,
		  </if>
		  <if test="maxInsuredAge != null" >
			`max_insured_age`,
		  </if>
		  <if test="guaranteeTimeDescript != null" >
			`guarantee_time_descript`,
		  </if>
		  <if test="sexLimit != null" >
			`sex_limit`,
		  </if>
		  <if test="buyLimit != null" >
			`buy_limit`,
		  </if>
		  <if test="healthInform != null" >
			`health_inform`,
		  </if>
		  <if test="hesitateDaysType != null" >
			`hesitate_days_type`,
		  </if>
		  <if test="hesitateDays != null" >
			`hesitate_days`,
		  </if>
		  <if test="typeCode != null" >
			`type_code`,
		  </if>
		  <if test="tag != null" >
			`tag`,
		  </if>
		  <if test="guaranteeTime != null" >
			`guarantee_time`,
		  </if>
		  <if test="ageSelect != null" >
			`age_select`,
		  </if>
		  <if test="age != null" >
			`age`,
		  </if>
		  <if test="sexSelect != null" >
			`sex_select`,
		  </if>
		  <if test="siSelect != null" >
			`si_select`,
		  </if>
		  <if test="coverPic != null" >
			`cover_pic`,
		  </if>
		  <if test="detailCoverPic != null" >
			`detail_cover_pic`,
		  </if>
		  <if test="detailPic != null" >
			`detail_pic`,
		  </if>
		  <if test="insureNotice != null" >
			`insure_notice`,
		  </if>
		  <if test="insuranceClause != null" >
			`insurance_clause`,
		  </if>
		  <if test="status != null" >
			`status`,
		  </if>
		  <if test="isDelete != null" >
			`is_delete`,
		  </if>
			`add_time`,
			`update_time`,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="productCode != null" >
			#{productCode},
		  </if>
		  <if test="productName != null" >
			#{productName},
		  </if>
		  <if test="companyCode != null" >
			#{companyCode},
		  </if>
		  <if test="descript != null" >
			#{descript},
		  </if>
		  <if test="priceType != null" >
			#{priceType},
		  </if>
		  <if test="minPrice != null" >
			#{minPrice},
		  </if>
		  <if test="maxPrice != null" >
			#{maxPrice},
		  </if>
		  <if test="maxInsuredAmountDescript != null" >
			#{maxInsuredAmountDescript},
		  </if>
		  <if test="minInsuredAgeType != null" >
			#{minInsuredAgeType},
		  </if>
		  <if test="minInsuredAge != null" >
			#{minInsuredAge},
		  </if>
		  <if test="maxInsuredAgeType != null" >
			#{maxInsuredAgeType},
		  </if>
		  <if test="maxInsuredAge != null" >
			#{maxInsuredAge},
		  </if>
		  <if test="guaranteeTimeDescript != null" >
			#{guaranteeTimeDescript},
		  </if>
		  <if test="sexLimit != null" >
			#{sexLimit},
		  </if>
		  <if test="buyLimit != null" >
			#{buyLimit},
		  </if>
		  <if test="healthInform != null" >
			#{healthInform},
		  </if>
		  <if test="hesitateDaysType != null" >
			#{hesitateDaysType},
		  </if>
		  <if test="hesitateDays != null" >
			#{hesitateDays},
		  </if>
		  <if test="typeCode != null" >
			#{typeCode},
		  </if>
		  <if test="tag != null" >
			#{tag},
		  </if>
		  <if test="guaranteeTime != null" >
			#{guaranteeTime},
		  </if>
		  <if test="ageSelect != null" >
			#{ageSelect},
		  </if>
		  <if test="age != null" >
			#{age},
		  </if>
		  <if test="sexSelect != null" >
			#{sexSelect},
		  </if>
		  <if test="siSelect != null" >
			#{siSelect},
		  </if>
		  <if test="coverPic != null" >
			#{coverPic},
		  </if>
		  <if test="detailCoverPic != null" >
			#{detailCoverPic},
		  </if>
		  <if test="detailPic != null" >
			#{detailPic},
		  </if>
		  <if test="insureNotice != null" >
			#{insureNotice},
		  </if>
		  <if test="insuranceClause != null" >
			#{insuranceClause},
		  </if>
		  <if test="status != null" >
			#{status},
		  </if>
		  <if test="isDelete != null" >
			#{isDelete},
		  </if>
		  <if test="addTime != null" >
			#{addTime},
      </if>
      <if test="addTime == null" >
      NOW(),
		  </if>
		  <if test="updateTime != null" >
			#{updateTime},
      </if>
      <if test="updateTime == null" >
      NOW(),
		  </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinmimoney.web.p2pnew.pojo.InsuranceProduct" >
    UPDATE `insurance_product`
    <set >
	  <if test="productCode != null" >
        `product_code` = #{productCode},
      </if>
	  <if test="productName != null" >
        `product_name` = #{productName},
      </if>
	  <if test="companyCode != null" >
        `company_code` = #{companyCode},
      </if>
	  <if test="descript != null" >
        `descript` = #{descript},
      </if>
	  <if test="priceType != null" >
        `price_type` = #{priceType},
      </if>
	  <if test="minPrice != null" >
        `min_price` = #{minPrice},
      </if>
	  <if test="maxPrice != null" >
        `max_price` = #{maxPrice},
      </if>
	  <if test="maxInsuredAmountDescript != null" >
        `max_insured_amount_descript` = #{maxInsuredAmountDescript},
      </if>
	  <if test="minInsuredAgeType != null" >
        `min_insured_age_type` = #{minInsuredAgeType},
      </if>
	  <if test="minInsuredAge != null" >
        `min_insured_age` = #{minInsuredAge},
      </if>
	  <if test="maxInsuredAgeType != null" >
        `max_insured_age_type` = #{maxInsuredAgeType},
      </if>
	  <if test="maxInsuredAge != null" >
        `max_insured_age` = #{maxInsuredAge},
      </if>
	  <if test="guaranteeTimeDescript != null" >
        `guarantee_time_descript` = #{guaranteeTimeDescript},
      </if>
	  <if test="sexLimit != null" >
        `sex_limit` = #{sexLimit},
      </if>
	  <if test="buyLimit != null" >
        `buy_limit` = #{buyLimit},
      </if>
	  <if test="healthInform != null" >
        `health_inform` = #{healthInform},
      </if>
	  <if test="hesitateDaysType != null" >
        `hesitate_days_type` = #{hesitateDaysType},
      </if>
	  <if test="hesitateDays != null" >
        `hesitate_days` = #{hesitateDays},
      </if>
	  <if test="typeCode != null" >
        `type_code` = #{typeCode},
      </if>
	  <if test="tag != null" >
        `tag` = #{tag},
      </if>
	  <if test="guaranteeTime != null" >
        `guarantee_time` = #{guaranteeTime},
      </if>
	  <if test="ageSelect != null" >
        `age_select` = #{ageSelect},
      </if>
	  <if test="age != null" >
        `age` = #{age},
      </if>
	  <if test="sexSelect != null" >
        `sex_select` = #{sexSelect},
      </if>
	  <if test="siSelect != null" >
        `si_select` = #{siSelect},
      </if>
	  <if test="coverPic != null" >
        `cover_pic` = #{coverPic},
      </if>
	  <if test="detailCoverPic != null" >
        `detail_cover_pic` = #{detailCoverPic},
      </if>
	  <if test="detailPic != null" >
        `detail_pic` = #{detailPic},
      </if>
	  <if test="insureNotice != null" >
        `insure_notice` = #{insureNotice},
      </if>
	  <if test="insuranceClause != null" >
        `insurance_clause` = #{insuranceClause},
      </if>
	  <if test="status != null" >
        `status` = #{status},
      </if>
	  <if test="isDelete != null" >
        `is_delete` = #{isDelete},
      </if>
	  <if test="addTime != null" >
        `add_time` = #{addTime},
      </if>
	  <if test="updateTime != null" >
        `update_time` = #{updateTime},
      </if>
    </set>
    WHERE `id` = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinmimoney.web.p2pnew.pojo.InsuranceProduct" >
	UPDATE `insurance_product` SET
        `product_code` = #{productCode},
        `product_name` = #{productName},
        `company_code` = #{companyCode},
        `descript` = #{descript},
        `price_type` = #{priceType},
        `min_price` = #{minPrice},
        `max_price` = #{maxPrice},
        `max_insured_amount_descript` = #{maxInsuredAmountDescript},
        `min_insured_age_type` = #{minInsuredAgeType},
        `min_insured_age` = #{minInsuredAge},
        `max_insured_age_type` = #{maxInsuredAgeType},
        `max_insured_age` = #{maxInsuredAge},
        `guarantee_time_descript` = #{guaranteeTimeDescript},
        `sex_limit` = #{sexLimit},
        `buy_limit` = #{buyLimit},
        `health_inform` = #{healthInform},
        `hesitate_days_type` = #{hesitateDaysType},
        `hesitate_days` = #{hesitateDays},
        `type_code` = #{typeCode},
        `tag` = #{tag},
        `guarantee_time` = #{guaranteeTime},
        `age_select` = #{ageSelect},
        `age` = #{age},
        `sex_select` = #{sexSelect},
        `si_select` = #{siSelect},
        `cover_pic` = #{coverPic},
        `detail_cover_pic` = #{detailCoverPic},
        `detail_pic` = #{detailPic},
        `insure_notice` = #{insureNotice},
        `insurance_clause` = #{insuranceClause},
        `status` = #{status},
        `is_delete` = #{isDelete},
        `add_time` = #{addTime},
        `update_time` = #{updateTime}
    WHERE `id` = #{id}
  </update>
  <update id="updateByCondition" parameterType="java.util.Map" >
    UPDATE `insurance_product`
    <set>
	  <if test="entity.productCode != null" >
        `product_code` = #{entity.productCode},
      </if>
	  <if test="entity.productName != null" >
        `product_name` = #{entity.productName},
      </if>
	  <if test="entity.companyCode != null" >
        `company_code` = #{entity.companyCode},
      </if>
	  <if test="entity.descript != null" >
        `descript` = #{entity.descript},
      </if>
	  <if test="entity.priceType != null" >
        `price_type` = #{entity.priceType},
      </if>
	  <if test="entity.minPrice != null" >
        `min_price` = #{entity.minPrice},
      </if>
	  <if test="entity.maxPrice != null" >
        `max_price` = #{entity.maxPrice},
      </if>
	  <if test="entity.maxInsuredAmountDescript != null" >
        `max_insured_amount_descript` = #{entity.maxInsuredAmountDescript},
      </if>
	  <if test="entity.minInsuredAgeType != null" >
        `min_insured_age_type` = #{entity.minInsuredAgeType},
      </if>
	  <if test="entity.minInsuredAge != null" >
        `min_insured_age` = #{entity.minInsuredAge},
      </if>
	  <if test="entity.maxInsuredAgeType != null" >
        `max_insured_age_type` = #{entity.maxInsuredAgeType},
      </if>
	  <if test="entity.maxInsuredAge != null" >
        `max_insured_age` = #{entity.maxInsuredAge},
      </if>
	  <if test="entity.guaranteeTimeDescript != null" >
        `guarantee_time_descript` = #{entity.guaranteeTimeDescript},
      </if>
	  <if test="entity.sexLimit != null" >
        `sex_limit` = #{entity.sexLimit},
      </if>
	  <if test="entity.buyLimit != null" >
        `buy_limit` = #{entity.buyLimit},
      </if>
	  <if test="entity.healthInform != null" >
        `health_inform` = #{entity.healthInform},
      </if>
	  <if test="entity.hesitateDaysType != null" >
        `hesitate_days_type` = #{entity.hesitateDaysType},
      </if>
	  <if test="entity.hesitateDays != null" >
        `hesitate_days` = #{entity.hesitateDays},
      </if>
	  <if test="entity.typeCode != null" >
        `type_code` = #{entity.typeCode},
      </if>
	  <if test="entity.tag != null" >
        `tag` = #{entity.tag},
      </if>
	  <if test="entity.guaranteeTime != null" >
        `guarantee_time` = #{entity.guaranteeTime},
      </if>
	  <if test="entity.ageSelect != null" >
        `age_select` = #{entity.ageSelect},
      </if>
	  <if test="entity.age != null" >
        `age` = #{entity.age},
      </if>
	  <if test="entity.sexSelect != null" >
        `sex_select` = #{entity.sexSelect},
      </if>
	  <if test="entity.siSelect != null" >
        `si_select` = #{entity.siSelect},
      </if>
	  <if test="entity.coverPic != null" >
        `cover_pic` = #{entity.coverPic},
      </if>
	  <if test="entity.detailCoverPic != null" >
        `detail_cover_pic` = #{entity.detailCoverPic},
      </if>
	  <if test="entity.detailPic != null" >
        `detail_pic` = #{entity.detailPic},
      </if>
	  <if test="entity.insureNotice != null" >
        `insure_notice` = #{entity.insureNotice},
      </if>
	  <if test="entity.insuranceClause != null" >
        `insurance_clause` = #{entity.insuranceClause},
      </if>
	  <if test="entity.status != null" >
        `status` = #{entity.status},
      </if>
	  <if test="entity.isDelete != null" >
        `is_delete` = #{entity.isDelete},
      </if>
	  <if test="entity.addTime != null" >
        `add_time` = #{entity.addTime},
      </if>
	  <if test="entity.updateTime != null" >
        `update_time` = #{entity.updateTime},
      </if>
      <foreach collection="entity.nullColums" item="nullColum">
        `${nullColum}` = NULL,
      </foreach>
    </set>
    <include refid="map_params_where_condition" />
  </update>
  <update id="updateIncreateNumbers" parameterType="java.util.Map" >
    UPDATE `insurance_product`
    <set>
      <foreach collection="increateNumbers" item="numberCloums">
        `${numberCloums.column}` = `${numberCloums.column}` + #{numberCloums.number},
      </foreach>
    </set>
    <include refid="map_params_where_condition" />
  </update>
  <sql id="map_params_where_condition" >
    <trim prefix="WHERE" prefixOverrides="AND">
	  <if test="id != null" >
        AND `id` = #{id}
	  </if>
	  <if test="productCode != null" >
        AND `product_code` = #{productCode}
	  </if>
	  <if test="productName != null" >
        AND `product_name` = #{productName}
	  </if>
	  <if test="companyCode != null" >
        AND `company_code` = #{companyCode}
	  </if>
	  <if test="descript != null" >
        AND `descript` = #{descript}
	  </if>
	  <if test="priceType != null" >
        AND `price_type` = #{priceType}
	  </if>
	  <if test="minPrice != null" >
        AND `min_price` = #{minPrice}
	  </if>
	  <if test="maxPrice != null" >
        AND `max_price` = #{maxPrice}
	  </if>
	  <if test="maxInsuredAmountDescript != null" >
        AND `max_insured_amount_descript` = #{maxInsuredAmountDescript}
	  </if>
	  <if test="minInsuredAgeType != null" >
        AND `min_insured_age_type` = #{minInsuredAgeType}
	  </if>
	  <if test="minInsuredAge != null" >
        AND `min_insured_age` = #{minInsuredAge}
	  </if>
	  <if test="maxInsuredAgeType != null" >
        AND `max_insured_age_type` = #{maxInsuredAgeType}
	  </if>
	  <if test="maxInsuredAge != null" >
        AND `max_insured_age` = #{maxInsuredAge}
	  </if>
	  <if test="guaranteeTimeDescript != null" >
        AND `guarantee_time_descript` = #{guaranteeTimeDescript}
	  </if>
	  <if test="sexLimit != null" >
        AND `sex_limit` = #{sexLimit}
	  </if>
	  <if test="buyLimit != null" >
        AND `buy_limit` = #{buyLimit}
	  </if>
	  <if test="healthInform != null" >
        AND `health_inform` = #{healthInform}
	  </if>
	  <if test="hesitateDaysType != null" >
        AND `hesitate_days_type` = #{hesitateDaysType}
	  </if>
	  <if test="hesitateDays != null" >
        AND `hesitate_days` = #{hesitateDays}
	  </if>
	  <if test="typeCode != null" >
        AND `type_code` = #{typeCode}
	  </if>
	  <if test="tag != null" >
        AND `tag` = #{tag}
	  </if>
	  <if test="guaranteeTime != null" >
        AND `guarantee_time` = #{guaranteeTime}
	  </if>
	  <if test="ageSelect != null" >
        AND `age_select` = #{ageSelect}
	  </if>
	  <if test="age != null" >
        AND `age` = #{age}
	  </if>
	  <if test="sexSelect != null" >
        AND `sex_select` = #{sexSelect}
	  </if>
	  <if test="siSelect != null" >
        AND `si_select` = #{siSelect}
	  </if>
	  <if test="coverPic != null" >
        AND `cover_pic` = #{coverPic}
	  </if>
	  <if test="detailCoverPic != null" >
        AND `detail_cover_pic` = #{detailCoverPic}
	  </if>
	  <if test="detailPic != null" >
        AND `detail_pic` = #{detailPic}
	  </if>
	  <if test="insureNotice != null" >
        AND `insure_notice` = #{insureNotice}
	  </if>
	  <if test="insuranceClause != null" >
        AND `insurance_clause` = #{insuranceClause}
	  </if>
	  <if test="status != null" >
        AND `status` = #{status}
	  </if>
	  <if test="isDelete != null" >
        AND `is_delete` = #{isDelete}
	  </if>
	  <if test="addTime != null" >
        AND `add_time` = #{addTime}
	  </if>
	  <if test="updateTime != null" >
        AND `update_time` = #{updateTime}
	  </if>
	  <if test="condition != null">
	  <if test="condition.id != null" >
        AND `id` = #{condition.id}
	  </if>
	  <if test="condition.productCode != null" >
        AND `product_code` = #{condition.productCode}
	  </if>
	  <if test="condition.productName != null" >
        AND `product_name` = #{condition.productName}
	  </if>
	  <if test="condition.companyCode != null" >
        AND `company_code` = #{condition.companyCode}
	  </if>
	  <if test="condition.descript != null" >
        AND `descript` = #{condition.descript}
	  </if>
	  <if test="condition.priceType != null" >
        AND `price_type` = #{condition.priceType}
	  </if>
	  <if test="condition.minPrice != null" >
        AND `min_price` = #{condition.minPrice}
	  </if>
	  <if test="condition.maxPrice != null" >
        AND `max_price` = #{condition.maxPrice}
	  </if>
	  <if test="condition.maxInsuredAmountDescript != null" >
        AND `max_insured_amount_descript` = #{condition.maxInsuredAmountDescript}
	  </if>
	  <if test="condition.minInsuredAgeType != null" >
        AND `min_insured_age_type` = #{condition.minInsuredAgeType}
	  </if>
	  <if test="condition.minInsuredAge != null" >
        AND `min_insured_age` = #{condition.minInsuredAge}
	  </if>
	  <if test="condition.maxInsuredAgeType != null" >
        AND `max_insured_age_type` = #{condition.maxInsuredAgeType}
	  </if>
	  <if test="condition.maxInsuredAge != null" >
        AND `max_insured_age` = #{condition.maxInsuredAge}
	  </if>
	  <if test="condition.guaranteeTimeDescript != null" >
        AND `guarantee_time_descript` = #{condition.guaranteeTimeDescript}
	  </if>
	  <if test="condition.sexLimit != null" >
        AND `sex_limit` = #{condition.sexLimit}
	  </if>
	  <if test="condition.buyLimit != null" >
        AND `buy_limit` = #{condition.buyLimit}
	  </if>
	  <if test="condition.healthInform != null" >
        AND `health_inform` = #{condition.healthInform}
	  </if>
	  <if test="condition.hesitateDaysType != null" >
        AND `hesitate_days_type` = #{condition.hesitateDaysType}
	  </if>
	  <if test="condition.hesitateDays != null" >
        AND `hesitate_days` = #{condition.hesitateDays}
	  </if>
	  <if test="condition.typeCode != null" >
        AND `type_code` = #{condition.typeCode}
	  </if>
	  <if test="condition.tag != null" >
        AND `tag` = #{condition.tag}
	  </if>
	  <if test="condition.guaranteeTime != null" >
        AND `guarantee_time` = #{condition.guaranteeTime}
	  </if>
	  <if test="condition.ageSelect != null" >
        AND `age_select` = #{condition.ageSelect}
	  </if>
	  <if test="condition.age != null" >
        AND `age` = #{condition.age}
	  </if>
	  <if test="condition.sexSelect != null" >
        AND `sex_select` = #{condition.sexSelect}
	  </if>
	  <if test="condition.siSelect != null" >
        AND `si_select` = #{condition.siSelect}
	  </if>
	  <if test="condition.coverPic != null" >
        AND `cover_pic` = #{condition.coverPic}
	  </if>
	  <if test="condition.detailCoverPic != null" >
        AND `detail_cover_pic` = #{condition.detailCoverPic}
	  </if>
	  <if test="condition.detailPic != null" >
        AND `detail_pic` = #{condition.detailPic}
	  </if>
	  <if test="condition.insureNotice != null" >
        AND `insure_notice` = #{condition.insureNotice}
	  </if>
	  <if test="condition.insuranceClause != null" >
        AND `insurance_clause` = #{condition.insuranceClause}
	  </if>
	  <if test="condition.status != null" >
        AND `status` = #{condition.status}
	  </if>
	  <if test="condition.isDelete != null" >
        AND `is_delete` = #{condition.isDelete}
	  </if>
	  <if test="condition.addTime != null" >
        AND `add_time` = #{condition.addTime}
	  </if>
	  <if test="condition.updateTime != null" >
        AND `update_time` = #{condition.updateTime}
	  </if>
	  </if>
	  <if test="vo != null and !vo.expressionChainList.empty">
        AND
        <foreach collection="vo.expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  `${expression.column}` ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  `${expression.column}` ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  `${expression.column}` ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
      <if test="expressionChainList != null and !expressionChainList.empty">
        AND
        <foreach collection="expressionChainList" item="expressionChain" separator="OR">
          <if test="!expressionChain.expressionList.empty">
            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
              <choose>
                <when test="expression.type == 0">
                  `${expression.column}` ${expression.operator}
                </when>
                <when test="expression.type == 1">
                  `${expression.column}` ${expression.operator} #{expression.value}
                </when>
                <when test="expression.type == 2">
                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
                </when>
                <when test="expression.type == 3">
                  `${expression.column}` ${expression.operator}
                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
                    #{value}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </if>
      <include refid="map_params_where_condition_ext" />
    </trim>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    SELECT
    <include refid="Base_Column_List" />
    FROM `insurance_product`
    <include refid="map_params_where_condition" />
    <if test="orderBy == null" >
      ORDER BY `id` DESC
    </if>
    <if test="orderBy != null and orderBy != 'no'" >
      ORDER BY ${orderBy}
    </if>
    <if test="pageBeginIndex != null and pageSize != null" >
      LIMIT #{pageBeginIndex},#{pageSize}
    </if>
    <if test="pageBeginIndex == null and pageSize != null" >
      LIMIT #{pageSize}
    </if>
    <if test="pageBeginIndex != null and pageSize == null" >
      LIMIT #{pageBeginIndex}
    </if>
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    DELETE
    FROM `insurance_product`
    <include refid="map_params_where_condition" />
  </delete>
  <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT COUNT(1)
    FROM `insurance_product`
    <include refid="map_params_where_condition" />
  </select>
</mapper>